.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    background-color: #120F3A;
    margin: 30% 35%;
    padding: 20px;
    border: 1px solid #31FFF2;
    width: 20%;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .detail-info-container {
    display: flex;
    padding: 10px;
  }