/* MyPage.jsx */

.top-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.my-info {
  padding: 20px;
  text-align: center;
}

.info-button {
  background-image: url("/src/assets/myinfobutton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45%;
  height: 50px;
  padding: 15px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-left: 26%;
}

.doughnut-chart-container {
  position: relative;
  height: 200px;
}

.doughnut-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doughnut-chart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.doughnut-chart-percentage {
  font-size: 20px;
  font-weight: bold;
}

.doughnut-chart-label {
  font-size: 15px;
  font-weight: bold;
}

.stats-container {
  margin-top: 20px;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 29px;
  height: auto;
}

.nickname {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  gap: 10px; /* 텍스트와 아이콘 사이의 간격 설정 */
  margin: 0 0 10px 0; /* 불필요한 여백 제거 (필요에 따라 조정) */
  padding: 0; /* 불필요한 패딩 제거 (필요에 따라 조정) */
}

.pencil-icon {
  cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
}

.my-page {
  padding: 10px;
}

.cnt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bar-chart-container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.category-title {
  text-align: left;
  color: #31fff3;
}

.notification {
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
