.doughnut-chart-container {
  position: relative;
  height: 200px;
}

.doughnut-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doughnut-chart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.doughnut-chart-percentage {
  font-size: 20px;
  font-weight: bold;
}

.doughnut-chart-label {
  font-size: 15px;
  font-weight: bold;
}

.stats-container {
  margin-top: 20px;
}

.logout-button {
  position: absolute;
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 29px;
  height: auto;
}

.top-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nickname {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  gap: 10px; /* 텍스트와 아이콘 사이의 간격 설정 */
  margin: 0 0 10px 0; /* 불필요한 여백 제거 (필요에 따라 조정) */
  padding: 0; /* 불필요한 패딩 제거 (필요에 따라 조정) */
}

.pencil-icon {
  cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
}

.my-info {
  padding: 20px;
  text-align: center;
}

.info-button {
  border: 5px solid rgba(255, 255, 255, 0.5); /* 테두리 설정 */
  background-color: #ffeb79; /* 배경색 설정 */
  padding: 3px;
  border-radius: 20px; /* 테두리와 내부 콘텐츠를 둥글게 설정 */
  width: 130px;
  font-weight: 900;
  position: relative; /* 내부 그림자를 위해 상대 위치 설정 */
}

.info-button::before {
  content: "";
  position: absolute;
  top: -5px; /* 테두리 두께와 동일하게 설정 */
  left: -5px; /* 테두리 두께와 동일하게 설정 */
  right: -5px; /* 테두리 두께와 동일하게 설정 */
  bottom: -5px; /* 테두리 두께와 동일하게 설정 */
  background-color: inherit; /* 부모 요소의 배경색을 상속 */
  border-radius: inherit; /* 부모 요소의 border-radius를 상속 */
  z-index: -1; /* 부모 요소 뒤에 위치 */
}

.my-page {
  padding: 10px;
}

.cnt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-color {
  font-size: 20px;
  font-weight: bold;
  color: #31fff3;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bar-chart-container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.category-title {
  text-align: left;
  color: #31fff3;
}