nav {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 182px; /* 네비게이션 바의 너비 */
  height: 85px; /* 네비게이션 바의 높이 */
  background: url("../assets/Navbar.png") no-repeat center center; /* 배경 이미지 */
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav svg {
  width: 28px; /* 아이콘 크기 */
  height: 28px;
  color: #000000; /* 아이콘 색상 */
}

.navbar-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item-main {
  position: absolute;
  top: 20px; /* 위로 살짝 올라가게 조정 */
  left: 50%;
  transform: translateX(-50%);
}

.navbar-item-create {
  position: absolute;
  bottom: 15px; /* 아래로 살짝 내려가게 조정 */
  left: 17px; /* 좌우로 조정 */
}

.navbar-item-mypage {
  position: absolute;
  bottom: 15px; /* 아래로 살짝 내려가게 조정 */
  right: 18.5px; /* 좌우로 조정 */
}
