.verificate-screen {
  margin-top: 30px;
}

.upload-container {
  text-align: center;
  background-color: #1a2b3c;
  padding: 20px;
  border-radius: 10px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #3f51b5;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.image-upload:hover {
  border-color: #ff4081;
}

.verification-standard-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px;
}

.upload-foam {
  display: flex;
  justify-content: center;
  border: 3px solid cyan;
  margin: 0 30px;
  padding: 30px;
  border-radius: 50px;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative; /* 부모 요소를 기준으로 위치 설정 */
}

.upload-input {
  opacity: 0; /* 완전히 투명하게 만듦 */
  position: absolute; /* 부모 요소 안에서 절대 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uploaded-image {
  max-width: 100%;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.verificate-button {
  background-image: url("../assets/button_cyan.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50px;
  color: navy;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-left: 25%;
}
