.planet-details {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
  gap: 20px;
}

.image-container {
  width: 150px;
  height: 150px;
}

.planet-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/*미션인증 사진*/
.planet-mission {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid cyan;
  padding: 20px 50px;
  border-radius: 30px;
  gap: 10px;
}

/*글자*/
.warning-cyan {
  color: cyan;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

.warning-white {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

.planet-info {
  font-size: 14px;
}

.planet-info-title {
  font-size: 16px;
  font-weight: 800;
}

/*버튼*/
.create-planet-yes {
  background-image: url("../assets/button_cyan.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50px;
  color: black;
  padding: 15px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-left: 25%;
  margin-top: 30px;
}
