.back-button {
  font-size: 24px;
}

.rank-and-chat {
  background-color: rgba(0, 0, 0, 0.3);
  height: 70vh; /* 전체 높이를 사용하도록 설정 */
  overflow: hidden; /* 자식 요소가 넘칠 경우 숨김 처리 */
  margin: 0 25px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-planet {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/*버튼 스타일*/
.toggle-planet button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 버튼이 선택된 경우 (랭킹 버튼) */
.toggle-planet button.active {
  background-color: cyan;
}

/* 랭킹 버튼이 활성화된 상태 */
.toggle-planet button:first-child.active {
  background-color: cyan;
}

/* 채팅 버튼이 활성화되지 않은 상태 */
.toggle-planet button:last-child {
  background-color: rgba(255, 255, 255, 0.5);
}
