.challengeList {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: '10px';
}

.challengeImgArea {
  text-align: center;
  margin-right: '20px';
}

.challengeImg {
  display: block;
  margin: 0 auto;
}

.participantsNumber {
  margin-top: 5px;
}

.challengeExp {
    margin-left: '30%';
    text-align: left;
}

.results-container {
    max-height: 400px; /* 원하는 높이로 설정 */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .challengeList {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .challengeImg {
    margin-right: 10px;
  }
  
  .challengeExp {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .date_participant {
    display: flex;
    justify-content: 'space-between';
  }
