.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: auto; /* Allows vertical scrolling */
  padding: 20px; /* Optional: Adds some padding */
}

.kakao_login {
  margin-top: 100px;
  cursor: pointer;
}


.my-logo {
  width: 330px;
  height: auto;
  margin: 0 auto;
}

.start-image {
  margin-top: 100px;
  text-align: center;
}