* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* 기본 마진 제거 */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: none; /* 기본 배경 제거 */
  color: white;
}

.App {
  width: 100%;
  max-width: 410px;
  height: 100vh; /* 전체 화면 높이 */
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 내부 스크롤 방지 */
}

.route-wrapper {
  position: relative;
  overflow-y: auto; /* 내부 스크롤 허용 */
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
  padding: 20px; /* 내용물에 패딩 추가 */
  box-sizing: border-box;
  margin-bottom: 150px;
  height: calc(100vh - 120px);
}

.start-page-wrapper {
  margin-bottom: 0; /* 네비게이션 높이를 고려하지 않음 */
  height: 100%; /* 전체 화면 높이 */
}

/* 반응형을 위해 추가된 미디어 쿼리 */
@media (max-width: 480px) {
  .App {
    max-width: 100%; /* 작은 화면에서는 최대 너비를 100%로 설정 */
  }

  .route-wrapper {
    padding: 10px; /* 작은 화면에서는 패딩을 줄여서 공간 확보 */
    margin-bottom: 140px; /* 네비게이션 높이를 뺀 나머지 공간 */
  }

  .start-page-wrapper {
    padding: 10px;
    margin-bottom: 0;
    height: 100%;
  }
}
