body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background: none; /* 기본 배경 제거 */
  color: white;
}

.App {
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  color: white;
  text-align: center;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 400px) {
  .App {
    width: 100%;
    padding: 0 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .content {
    font-size: 16px;
  }
}
